:root {
  --typography-spacing-vertical: 2rem;
  --spacing: 0.5rem !important;
}
nav {
  border-bottom: 3px solid #eee;
}

legend {
  font-size: 1.5rem;
  color: var(--h1-color);
}

.answer-container {
  position: relative;
  width: 50%;
  margin: 0 auto
}
.swipe-answer {
  /*position: absolute;*/
  width: 100%;
  transform-origin: 50% 99%;
}

@keyframes accept {
  from {
    transform: rotate(0deg);
    opacity: 1;
  }
  to {
    /*transform: rotate(-40deg) translateY(-80px);*/
    opacity: 0;
  }
}

@keyframes refuse {
  from {
    transform: rotate(0deg);
    opacity: 1;
  }
  to {
    /*transform: rotate(40deg) translateY(-80px);*/
    opacity: 0;
  }
}

.swipe-answer.accept {
  animation: accept 0.5s ease-out;
}

.swipe-answer.refuse {
  animation: refuse 0.5s ease-out;
}

.answer-0 {
  top: 0;
  z-index: 5;
}

.answer-1 {
  top: 10px;
  left: 10px;
  z-index: 4;
}
.answer-2 {
  top: 20px;
  left: 20px;
  z-index: 3;
}
.answer-3 {
  top: 30px;
  left: 30px;
  z-index: 2;
}
.answer-4 {
  top: 40px;
  left: 40px;
  z-index: 1;
}
.answer-5 {
  top: 50px;
  left: 50px;
  z-index: 0;
}

.clicked {
  background: blue;
}

.clicked-1 {
  background: blue;
}

.invalid-feedback.phx-no-feedback {
  display: none;
}
.invalid-feedback.phx-no-feedback + :where(textarea, input) {
  background-image: none !important;
  --border-color: var(--form-element-border-color) !important;
}
